SEM6/XML/XSD/IPL/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name="IPL-Team">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Team-Name" type="xs:string"/>
            <xs:element name="Captain" type="xs:string"/>
            <xs:element name="Home-City" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
